<div class="footer-middle">
			<div class="container">
				<div class="footer-middle-in">
					<h6>Về chúng tôi</h6>
					<p>Đây là website shopping cart chuyên bán các sản phẩm công nghệ.
						Chúng tôi tự hào là nơi cung cấp các sản phẩm uy tín chất lượng cho khách hàng
					</p>
				</div>
				<div class="footer-middle-in">
					<h6>Thông tin</h6>
					<ul>
						<li><a href="#">Về chúng tôi</a></li>
						<li><a href="#">Thông tin giao hàng</a></li>
						<li><a href="#">Chính sách riêng tư</a></li>
						<li><a href="#">Điều kiện & Điều khoản</a></li>
					</ul>
				</div>
				<div class="footer-middle-in">
					<h6>Dịch vụ khách hàng</h6>
					<ul>
						<li><a href="contact.html">Liên hệ chúng tôi</a></li>
						<li><a href="#">Trở lại</a></li>
						<li><a href="#">Site Map</a></li>
					</ul>
				</div>
				<div class="footer-middle-in">
					<h6>Tài khoản của tôi</h6>
					<ul>
						<li><a href="account.html">Tài khoản</a></li>
						<li><a href="#">Lịch sử đặt hàng</a></li>
						<li><a href="wishlist.html">Danh sách ưa thích</a></li>
						<li><a href="#">Tin mới</a></li>
					</ul>
				</div>
				<div class="footer-middle-in">
					<h6>Thêm</h6>
					<ul>
						<li><a href="#">Thương hiệu</a></li>
						<li><a href="#">Ưa đãi & Voucher</a></li>
						<li><a href="#">Quà khuyến mãi</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<p class="footer-class">Copyright © 2015 Modern Template by <a href="http://w3layouts.com/"
				target="_blank">W3layouts</a> </p>
		<script type="text/javascript">
			$(document).ready(function () {
				/*
				var defaults = {
						containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>