	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="header-top-in">
					<div class="logo">
						<a href="/"><img src="/images/logo.png" alt="Logo" width="50px" height="40px">
							<p style="display: inline;">SHOP UY TÍN</p>
						</a>
					</div>
					<div class="header-in">
						<ul class="icon1 sub-icon1">
							<li><a href="wishlist.html">DANH SÁCH ƯA THÍCH (0)</a> </li>
							<li><a href="/login"> ĐĂNG NHẬP</a></li>
							<li><a href="/register"> ĐĂNG KÝ</a></li>
							<li><a href="/account"> TÀI KHOẢN</a></li>
							<li><a href="/history"> LỊCH SỬ MUA HÀNG</a></li>
							<li><a href="/cart/"> GIỎ HÀNG</a></li>
							<li> <a href="/checkout">THANH TOÁN</a> </li>
							<li>
								<div class="cart">
									<a href="/cart" class="cart-in"> </a>
									<span> 0</span>
								</div>
								<ul class="sub-icon1 list">
									<h3>Các sản phảm đã thêm (2)</h3>
									<div class="shopping_cart">
										<div class="cart_box">
											<div class="message">
												<div class="alert-close"> </div>
												<div class="list_img"><img src="/images/14.jpg" class="img-responsive"
														alt=""></div>
												<div class="list_desc">
													<h4><a href="#">velit esse molestie</a></h4>1 x<span class="actual">
														$12.00</span>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="cart_box1">
											<div class="message1">
												<div class="alert-close1"> </div>
												<div class="list_img"><img src="/images/15.jpg" class="img-responsive"
														alt=""></div>
												<div class="list_desc">
													<h4><a href="#">velit esse molestie</a></h4>1 x<span class="actual">
														$12.00</span>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div class="total">
										<div class="total_left">Tổng giá : </div>
										<div class="total_right">250.000 VNĐ</div>
										<div class="clearfix"> </div>
									</div>
									<div class="login_buttons">
										<div class="check_button"><a href="/checkout">Thanh toán</a></div>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</ul>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="h_menu4">
					<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li class="active"><a href="/"><i> </i>Trang chủ</a></li>
						<li><a href="/products">Laptops & Máy tính bảng</a>
							<ul class="drop">
								<li><a href="/products/">Sony(2)</a></li>
								<li><a href="/products/">Android(4)</a></li>
								<li><a href="/products/">Apple(7)</a></li>
								<li><a href="/products/">Acer(53)</a></li>
								<li><a href="/products/">HP(78)</a></li>
								<li><a href="/products/">Intel(5)</a></li>
							</ul>
						</li>
						<li><a href="/products/"> Tablets</a></li>
						<li><a href="/products/">Tính năng</a></li>
						<li><a href="/products/">Phần mềm</a></li>
						<li><a href="/products/">Điện thoại </a></li>
						<li><a href="/products/"> Máy chụp hình </a></li>
						<li><a href="contact.html">Liên hệ </a></li>

					</ul>
					<script type="text/javascript" src="/js/nav.js"></script>
				</div>
			</div>
		</div>
		<div class="header-bottom-in">
			<div class="container">
				<div class="header-bottom-on">
					<p class="wel"><a href="#">Chào mừng bạn đến trang mua sắm đồ công nghệ. Bạn có thể đăng ký hoặc đăng nhập tại đây</a></p>
					<div class="header-can">
						<ul class="social-in">
							<li><a href="#"><i> </i></a></li>
							<li><a href="#"><i class="facebook"> </i></a></li>
							<li><a href="#"><i class="twitter"> </i></a></li>
							<li><a href="#"><i class="skype"> </i></a></li>
						</ul>
						<div class="down-top">
							<select class="in-drop">
								<option value="Dollars" class="in-of">Việt Nam Đồng</option>
								<option value="Euro" class="in-of">Dollars</option>
								<option value="Yen" class="in-of">Yen</option>
							</select>
						</div>
						<div class="search">
							<form>
								<input type="text" value="Tìm kiếm" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = '';}">
								<input type="submit" value="">
							</form>
						</div>

						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>