	<%- include ../partials/PageInit %>
<body>
	<!--header-->
	<%- include ../partials/header %>
	<div class="container">
		<div class="account">
			<h2 class="account-in">Quên mật khẩu</h2>
				<form>			
				<div> 	
					<span class="mail">Email*</span>
					<input type="text"> 
				</div>			
					<input type="submit" value="Lấy lại mật khẩu"> 
				</form>
		</div>
	</div>
		<!--footer-->
	<%- include ../partials/footer %>
		
</body>
</html>